/* Change all text and icon colors in the player. */
.vjs-owncast.video-js {
  color: var(--primary-color);
}

.vjs-owncast .vjs-big-play-button {
  z-index: 999999;
  border-color: var(--primary-color) !important;
  border-radius: var(--theme-rounded-corners) !important;
}

.vjs-owncast .vjs-control-bar {
  background-color: var(--theme-background) !important;
}

// .vjs-airplay .vjs-icon-placeholder::before {
//   content: url("../img/airplay.png");
// }

.vjs-quality-selector .vjs-icon-placeholder {
  font-family: VideoJS;
  font-weight: 400;
  font-style: normal;
}
.vjs-quality-selector .vjs-icon-placeholder::before {
  content: "\f110";
}