.logo {
  width: 120px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: var(--theme-primary-color);
  background-color: var(--theme-background-secondary);
  padding: 3px;
}