.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: clamp(4rem, 10vw, 120px);
  height: clamp(4rem, 10vw, 120px);
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: var(--theme-primary-color);
  background-color: var(--theme-background-secondary);
}

.container {  
  width: 90%;
  height: 90%;
  border-radius: 50%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
