.inputGroup {
  :global(.ant6-input-affix-wrapper) {
    border-width: 2px;
  }

  :global(.ant6-input-show-count-suffix) {
    font-size: 11px;
  }

  :global(.ant6-btn-primary) {
    font-weight: 600;
  }
}

.colorChange {
  padding-top: 8px;

  :global(.ant6-form-item-label) {
    z-index: 1000;
    margin-bottom: 0;

    label {
      font-weight: 600;
    }
  }
}

.colorDropdown {
  :global(.ant6-select):not(.ant6-select-customize-input) {
    :global(.ant6-select-content) {
      padding-left: 0;
      border-width: 2px;
    }
  }
}
