.outerContainer {
  display: flex;
  justify-content: center;
}

.innerContainer {
  width: clamp(00px, 100%, 600px);
  display: flex;
  flex-direction: column;
  color: var(--theme-color-components-text-on-light);
  background-color: var(--theme-color-background-main);
  margin: 1rem auto;
  border-radius: var(--theme-rounded-corners);
  padding: 1rem;
  font-size: 1.2rem;
}

.header {
  font-weight: bold;
}

.footer {
  margin-top: 20px;
}
