.contentbutton {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
}

.closebutton {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.title {
  border-bottom: none;
  font-weight: bold;
  padding-left: 5px;
}
