@import '../../../styles/mixins.scss';

.player {
  height: auto !important;
  width: 100%;
  video {
    position: static !important;
  }

  @include screen(desktop) {
    height: 30vh !important;
  }
}

.poster {
  width: 100%;
  height: 100%;
}

