static/* linguist-vendored
docs/api/* linguist-documentation
static/* linguist-vendored
static/web/* linguist-vendored
static/web/admin/* linguist-vendored
static/web/embed/* linguist-vendored
static/web/styles/* linguist-vendored
static/web/_next/* linguist-vendored
static/web/404/* linguist-vendored
static/web/fonts/* linguist-vendored
