webroot/js/web_modules/* linguist-vendored
webroot/js/web_modules/@joeattardi/* linguist-vendored
webroot/js/web_modules/@justinribeiro/* linguist-vendored
webroot/js/web_modules/@videojs/http-streaming/dist/* linguist-vendored
webroot/js/web_modules/@videojs/themes/fantasy/* linguist-vendored
webroot/js/web_modules/common/* linguist-vendored
webroot/js/web_modules/markjs/dist/* linguist-vendored
webroot/js/web_modules/tailwindcss/dist/* linguist-vendored
webroot/js/web_modules/videojs/* linguist-vendored
webroot/js/web_modules/micromodal/dist/* linguist-vendored
static/* linguist-vendored
static/admin/* linguist-vendored
doc/api/* linguist-documentation
./static/* linguist-vendored
./static/admin/* linguist-vendored
./static/admin/logs/* linguist-vendored
./static/admin/config-social-items/* linguist-vendored
./static/admin/offline-notice/* linguist-vendored
./static/admin/config-chat/* linguist-vendored
./static/admin/404/* linguist-vendored
./static/admin/_next/* linguist-vendored
./static/admin/_next/static/* linguist-vendored
./static/admin/_next/static/chunks/* linguist-vendored
./static/admin/_next/static/chunks/pages/* linguist-vendored
./static/admin/_next/static/chunks/pages/chat/* linguist-vendored
./static/admin/_next/static/b1nOF3ZgELnezD8dvvt2B/* linguist-vendored
./static/admin/_next/static/css/* linguist-vendored
./static/admin/_next/quK9VwW_avTP773Ot9m2x/* linguist-vendored
./static/admin/viewer-info/* linguist-vendored
./static/admin/access-tokens/* linguist-vendored
./static/admin/config-storage/* linguist-vendored
./static/admin/config-public-details/* linguist-vendored
./static/admin/config-server-details/* linguist-vendored
./static/admin/actions/* linguist-vendored
./static/admin/help/* linguist-vendored
./static/admin/webhooks/* linguist-vendored
./static/admin/chat/* linguist-vendored
./static/admin/chat/messages/* linguist-vendored
./static/admin/chat/users/* linguist-vendored
./static/admin/upgrade/* linguist-vendored
./static/admin/hardware-info/* linguist-vendored
./static/admin/config-video/* linguist-vendored
./webroot/js/web_modules/* linguist-vendored
./webroot/js/web_modules/micromodal/* linguist-vendored
./webroot/js/web_modules/micromodal/dist/* linguist-vendored
./webroot/js/web_modules/common/* linguist-vendored
./webroot/js/web_modules/@videojs/* linguist-vendored
./webroot/js/web_modules/@videojs/http-streaming/* linguist-vendored
./webroot/js/web_modules/@videojs/http-streaming/dist/* linguist-vendored
./webroot/js/web_modules/@videojs/themes/* linguist-vendored
./webroot/js/web_modules/@videojs/themes/fantasy/* linguist-vendored
./webroot/js/web_modules/markjs/* linguist-vendored
./webroot/js/web_modules/markjs/dist/* linguist-vendored
./webroot/js/web_modules/@joeattardi/* linguist-vendored
./webroot/js/web_modules/tailwindcss/* linguist-vendored
./webroot/js/web_modules/tailwindcss/dist/* linguist-vendored
./webroot/js/web_modules/videojs/* linguist-vendored
