.statusbar {
  display: flex;
  align-items: center;
  font-size: .8rem;
  justify-content: space-between;
  height: 2rem;
  width: 100%;
	padding: var(--content-padding);
  color: var(--alt-light);
  // background-color: var(--theme-background-secondary);
}
