.statusbar {
  display: flex;
  align-items: center;
  font-size: .8rem;
  justify-content: space-between;
  height: 2rem;
  width: 100%;
  color: var(--theme-text-primary);
  // background-color: var(--theme-background-secondary);
}
