.statusbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--status-bar-height);
  width: 100%;
  padding: var(--content-padding);
  color: var(--theme-color-components-video-status-bar-foreground);
  background-color: var(--theme-color-components-video-status-bar-background);
  font-family: var(--theme-text-display-font-family);

	font-size: 11px;
  font-weight: 400;
}

.onlineMessage {
	letter-spacing: .5px;
}

.viewerCount {
	vertical-align: middle;
}
.viewerIcon {
	display: inline-block;
	margin-right: .5rem;
}
