.statusbar {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  justify-content: space-between;
  height: 2rem;
  width: 100%;
  padding: var(--content-padding);
  color: var(--theme-color-components-text-on-light);
  background-color: var(--component-background);
  font-family: var(--theme-text-display-font-family);
  font-weight: 600;
  
  .right {
    color: red;
  }
}
