.status-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.75rem;
}
.status-container.status-success {
  color: var(--ant-success);
}
.status-container.status-error {
  color: var(--ant-error);
}
.status-container.status-warning {
  color: var(--ant-warning);
}
.status-container.empty {
  display: none;
}
.status-container .status-icon {
  display: inline-block;
  margin-right: 0.5em;
}
.field-tip {
  font-size: 0.8em;
  color: var(--white-50);
}
.field-container {
  padding: 0.85em 0 0.5em;
}
.segment-slider-container {
  width: 100%;
  margin: auto;
  padding: 1em 2em 0.75em;
  background-color: var(--color-owncast-palette-7);
  border-radius: var(--container-border-radius);
}
.segment-slider-container .status-container {
  width: 100%;
  margin: 0.5em auto;
  text-align: center;
}
.segment-slider-container .selected-value-note {
  width: 100%;
  margin: 3em auto 0;
  text-align: center;
  font-size: 0.75em;
  line-height: normal;
  color: var(--white);
  padding: 1em;
  border-radius: var(--theme-rounded-corners);
  background-color: var(--black-35);
}
.segment-tip {
  width: 10em;
  text-align: center;
  margin: auto;
  display: inline-block;
}
#selected-codec-note {
  margin-top: 8px;
  text-align: justify;
  line-height: 1.4em;
}
