.home-container .online-status-section {
  margin-bottom: 1em;
}
.home-container .online-status-section .online-details-card {
  border-color: var(--online-color);
}
.home-container .stream-details-item-container {
  margin: 1em 0;
}
.home-container .stream-details-item-container:first-of-type {
  margin-top: 0;
}
.home-container .stream-details > .ant-card-bordered {
  border-color: rgba(255, 255, 255, 0.1);
}
.home-container .outbound-details {
  margin-bottom: 1em;
}
.offline-content .list-section {
  background-color: var(--container-bg-color-alt);
  border-radius: var(--container-border-radius);
  padding: 1em;
}
.offline-content .list-section > .ant-card {
  margin-bottom: 1em;
}
.offline-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2em;
}
.offline-intro .logo-svg {
  height: 6em;
  width: 6em;
}
.news-feed {
  margin-top: 0;
  padding: 1.5em;
}
.news-feed h2 {
  font-size: 1.2em;
  margin-top: 0;
  color: var(--pink);
}
.news-feed article {
  padding: 1em 0.25em;
  font-size: 0.9rem;
  color: var(--white-75);
  border-bottom: 1px solid var(--gray);
}
.news-feed article h3 {
  font-size: 1.2em;
}
.news-feed article h3 a {
  font-weight: 400;
  font-size: 1em;
}
.news-feed article .timestamp {
  margin-top: 0;
  font-size: 0.75em;
  color: var(--white-50);
}
