.root {
  position: relative;
  font-size: 0.9rem;
  padding: 5px;
  padding-left: 1rem;
  margin: 8px 5px;
  .user {
    font: var(--theme-header-font-family);
    color: var(--color-owncast-grey-100);
    font-weight: bold;
  }
  .message {
    color: var(--color-owncast-grey-100);

    mark {
      color: white;
      padding: 0.1em 0.4em;
      border-radius: 0.5em 0.3em;
      background: transparent;
      background-image: linear-gradient(
        to right,
        rgba(255, 225, 0, 0.1),
        rgba(255, 225, 0, 0.358) 4%,
        rgba(255, 225, 0, 0.3)
      );
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }
  .customBorder {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 5px;
    height: 100%;
    overflow: hidden;
    &:after {
      content: '';
      width: 10px;
      height: 100%;
      position: absolute;
      top: 0%;
      right: 0px;
      background-color: currentColor;
      border-radius: 0.5rem;
    }
  }

  &.ownMessage {
    .customBorder {
      left: auto;
      right: 0px;
      &:after {
        left: 0px;
      }
    }
  }
}
