.nameChangeView {
  display: flex;
  font-size: var(--chat-message-text-size);
	font-weight: 300;
  border-radius: var(--theme-rounded-corners);
  padding: 5px 15px;
  color: var(--theme-color-components-chat-text);
  & .nameChangeText {
    font-weight: 300;
    & .plain {
      font-weight: 300;
    }
  }
}

.icon {
	padding-right: var(--chat-notification-icon-padding);
}
