

// todo: put these somewhere else



.edit-page-content {
  .page-content-actions {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .status-message  {
      margin-left: 1em;
    }
  }
}




.segment-tip {
  width: 10em;
  text-align: center;
  margin: auto;
  display: inline-block;
}
