// config tags block

.tag-current-tags {
  .ant-tag {
    margin: .1rem;
    font-size: .85rem;
    border-radius: 10em;
    padding: .25em 1em;
    &:hover {
      opacity: 1;
    }

    .ant-tag-close-icon {
      transform: translateY(-1px);
      margin-left: .3rem;
      padding: 2px;
      border-radius: 5rem;
      color: black;
      border: 1px solid #000;
      transition-duration: var(--ant-transition-duration);
      &:hover {
        border-color: #5a67d8;
        background-color: white;
        svg {
          fill: black;
          transition: fill var(--ant-transition-duration);
        }
      }
    }
  }
}

.add-new-tag-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2em;
}
