// styles for Video variant editor (table + modal)

.config-video-variants {
  .variants-table {
    margin-top: 2em;
  }

  .variants-table-module {
    min-width: 400px;
  }
}

// modal content
.config-variant-form {
  .description {
    margin-top: 0;
  }
  .passthrough-warning {
    text-align: center;
    padding: 1em;
    color: var(--ant-warning);
    font-size: 0.88em;
    font-weight: 500;
    background-color: var(--black-50);
    border-radius: var(--container-border-radius);
  }

  .cpu-usage-container,
  .bitrate-container {
    min-height: 22em;
  }

  .advanced-settings {
    margin-top: 1em;

    .resolution-module,
    .video-passthrough-module {
      min-height: 30em;
    }
  }
  // make some things look disabled when passthrough is on
  &.video-passthrough-enabled {
    .form-module:not(.video-passthrough-module) {
      opacity: 0.25;
      cursor: not-allowed;
    }
  }
}

.variants-table {
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .delete-button {
    margin-left: 0.5em;
    opacity: 0.8;
  }
}

.read-more-subtext {
  font-size: 0.8rem;
}
