// config tags block

.tag-current-tags {
  .ant-tag {
    margin: .1rem;
    font-size: .85rem;
    border-radius: 10em;
    padding: .25em 1em;
    background-color: rgba(255,255,255,.5);

    .ant-tag-close-icon {
      transform: translateY(-1px);
      margin-left: .3rem;
      padding: 2px;
      border-radius: 5rem;
      border: 1px solid #eee;
      &:hover {
        border-color: #e03;
        svg {
          fill: black;
          transition: fill .3s;
        }
      }
    }
  }
}

.add-new-tag-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .new-tag-input {
    width: 16em;
  }
}
