
.ant-btn-primary:hover, .ant-btn-primary:focus {
  background-color: white;
  color: #40a9ff;
}
.ant-btn-primary:focus {
  box-shadow: 0px 1px 3px 2px rgba(90,103,216, .25)
}
.ant-input-affix-wrapper,
.ant-btn {
  transition-delay: 0s;
  transition-duration: 0.15s;
}
.config-public-details-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;

  .text-fields {
    margin-right: 2rem;
  }

  .misc-fields {
    border: 1px solid var(--owncast-purple);
    padding: 2em;

  }
}
.textfield-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.textfield {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .field {
    width: 18rem;

  }
  .info {
    margin-right: .75rem;
  }
  .ant-form-item {
    margin-bottom: 16px;
    &.ant-form-item-with-help {
      margin-bottom: 16px;
    }
  }
  .ant-form-item-label label {
    font-weight: bold;
    color: var(--owncast-purple);
  }
  .ant-form-item-explain {
    width: 70%;
  }
}
.submit-button {
  position: absolute;
  right: 0;
  bottom: .5em;
}


.tag-current-tags {
  .ant-tag {
    margin: .1rem;
    font-size: .85rem;
    border-radius: 10em;
    padding: .25em 1em;
    background-color: rgba(255,255,255,.5);

    .ant-tag-close-icon {
      transform: translateY(-1px);
      margin-left: .3rem;
      padding: 2px;
      border-radius: 5rem;
      border: 1px solid #eee;
      &:hover {
        border-color: #e03;
        svg {
          fill: black;
          transition: fill .3s;
        }
      }
    }
  }
}
.add-new-tag-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .new-tag-input {
    width: 16em;
  }
}
.add-new-status {
  margin: 1em 0;
  min-height: 1.25em;
  font-size: .75rem;
  &.success {
    color: var(--ant-success);
  }
  &.error {
    color: var(--ant-error);
  }
}

