/* TOGGLE SWITCH-WITH-SUBMIT-CONTAINER BASE */


.toggleswitch-container {

  .status-container {
    margin-top: .25rem;
  }

  .toggleswitch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .label {
      font-weight: bold;
      color: var(--owncast-purple);
    }
    .info-tip {
      margin-left: .5rem;
      svg {
        fill: white;
      }
    }
    .ant-form-item {
      margin: 0 .75rem 0 0;
    }
  }
}
