.home-container {
  .online-status-section {
    margin-bottom: 1em;
    .online-details-card {
      border-color: var(--online-color);
    }
    .ant-statistic {
      text-align: center;
    }
    .ant-statistic-title {
      color: var(--white-50);
    }
  }

  .ant-card-head {
    color: var(--online-color);
  }

  .stream-details-item-container {
    margin: 1em 0;
    &:first-of-type {
      margin-top: 0;
    }
  }
  .ant-statistic.stream-details-item {
    background-color: var(--black-50);
    padding: 1em;
    .ant-statistic-title {
      color: var(--blue);
    }
    .ant-statistic-content {
      font-size: 1.25em;
      white-space: nowrap;
    }
  }

  .stream-details {
    > .ant-card-bordered {
      border-color: rgba(255, 255, 255, 0.1);
    }
  }
  .outbound-details {
    margin-bottom: 1em;
  }
}

.offline-content {
  max-width: 1000px;

  .logo-section {
    .ant-result-title {
      font-size: 2rem;
    }
    .ant-result-subtitle {
      font-size: 1rem;
    }
    .ant-result-icon svg {
      height: 8rem;
      width: 8rem;
    }
  }
  .list-section {
    background-color: var(--container-bg-color-alt);
    border-radius: var(--container-border-radius);
    padding: 1em;

    > .ant-card {
      background-color: var(--black);
      margin-bottom: 1em;
      .ant-card-meta-avatar {
        margin-top: 0.25rem;
        svg {
          height: 1.5em;
          width: 1.5em;
        }
      }
    }
  }
}

.offline-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2em;
  .logo-svg {
    height: 6em;
    width: 6em;
  }
}

.news-feed {
  margin-top: 0;
  padding: 1.5em;

  h2 {
    font-size: 1.2em;
    margin-top: 0;
    color: var(--pink);
  }
  article {
    padding: 1em 0.25em;
    font-size: 14px;
    color: var(--white-75);
    border-bottom: 1px solid var(--gray);

    h3 {
      font-size: 1.2em;
      a {
        font-weight: 400;
        font-size: 1em;
      }
    }
    .timestamp {
      margin-top: 0;
      font-size: 0.75em;
      color: var(--white-50);
    }
  }
}
