.app-container {
  .side-nav {
    position: fixed;
    height: 100vh;
    overflow: auto;
    z-index: 10;
    background-color: var(--nav-bg-color);
  }

  .menu-container {
    border-color: transparent;
  }

  h1.owncast-title {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .logo-container {
      background-color: var(--white);
      padding: 0.35rem;
      border-radius: 9999px;
    }

    .title-label {
      display: inline-block;
      margin-left: 1rem;
      color: var(--white);
      font-size: 1.15rem;
      font-weight: 200;
      text-transform: uppercase;
      line-height: normal;
      letter-spacing: 0.05em;
    }
  }

  .layout-main {
    margin-left: 240px; // width of Ant Sider
  }
  .layout-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1rem;
    background-color: var(--nav-bg-color);
  }

  .main-content-container {
    padding: 2em 3em 3em;
  }

  .footer-container {
    text-align: center;
  }

  .online-status-indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .online-thumbnail {
      width: 12.5rem;
    }

    .status-label {
      color: var(--white);
      text-transform: uppercase;
      font-size: 0.75rem;
      display: inline-block;
      margin-right: 0.5rem;
      color: var(--offline-color);
    }
    .status-icon {
      font-size: 1.5rem;
      svg {
        fill: var(--offline-color);
      }
    }
  }
  &.online {
    .online-status-indicator {
      .status-icon {
        svg {
          fill: var(--online-color);
        }
      }
      .status-label {
        white-space: nowrap;
        color: var(--online-color);
      }
    }
  }
}

// stream title form field in header
.global-stream-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .textfield-with-submit-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;

    .ant-input-affix-wrapper {
      border-color: var(--owncast-purple-50);
    }
    input.ant-input {
      &::placeholder {
        color: var(--owncast-purple);
        text-align: center;
      }
    }

    .input-side {
      width: 400px;
      @media (max-width: 800px) {
        width: auto;
      }
    }

    .label-side {
      display: none;
    }
    .lower-container {
      width: auto;
      .lower-content {
        flex-direction: column-reverse;
        position: relative;
      }
      .label-spacer,
      .field-tip {
        display: none;
      }
      .status-container {
        line-height: 1;
        position: absolute;
        bottom: -2em;
      }
      .update-button-container {
        margin: 0;
        margin-left: 0.5em;
        line-height: 1;
      }
    }
  }
}
