
// markdown editor overrides

.rc-virtual-list-scrollbar {
  display: block !important;
}
.rc-md-editor {
  // Set the background color of the preview container
  .editor-container {
    background-color: #E2E8F0;
    color: rgba(45,55,72,1);
  }

  // Custom CSS for formatting the preview text
  .markdown-editor-preview-pane {
    // color:lightgrey;
    a {
      color: var(--owncast-purple);;
    }
    h1 {
      font-size: 2em;
    }
  }

  // Custom CSS class used to format the text of the editor
  .markdown-editor-pane {
    color: white !important;
    background-color: black;
    font-family: monospace;
  }

  // Set the background color of the editor text input
  textarea {
    background-color: rgb(44,44,44) !important;
    color:lightgrey !important;
  }
.ant-btn {
  transition-duration: .15s;
  transition-delay: 0s;
}

  // Hide extra toolbar buttons.
  .button-type-undo, .button-type-redo, .button-type-clear, .button-type-image, .button-type-wrap, .button-type-quote, .button-type-strikethrough, .button-type-code-inline, .button-type-code-block {
    display: none !important;
  }
}
