// misc styling for various /pages


.help-page {
  .ant-result-image {
    height: 100px;
    svg {
      height: 100%;
      width: 100%;
    }
  }
}


.upgrade-page {
  h2,h3 {
    color: var(--pink);
    font-size: 1.25em;
  }
}
