
.logoSVG {
  height: 2rem;
  width: 2rem;
}

.owncastTitleContainer {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.logoContainer {
  background-color: #fff;
  padding: .35rem;
  border-radius: 9999px;
}
.owncastTitle {
  display: inline-block;
  margin-left: 1rem;
  color: rgba(203,213,224, 1);
  font-size: 1.15rem;
  font-weight: 200;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: .05em;
}

.contentMain {
  padding: 3em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 1rem;
}

.sideNav {
  position: fixed;
  height: 100vh;
  overflow: auto;
  z-index: 10;
}

.layoutMain {
  margin-left: 240px;
}

.statusIndicatorContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.statusIcon {
  font-size: 1.5rem;
}
.statusIcon svg {
  fill: #999;
}
.statusLabel {
  color: #fff;
  text-transform: uppercase;
  font-size: .75rem;
  display: inline-block;
  margin-right: .5rem;
  color: #999;
}
.online .statusIcon svg {
  fill: var(--online-color)
}
.online .statusLabel {
  color: var(--online-color)
}


.lineChartContainer {
  margin: 2em auto;
}

.configSection {
  margin-bottom: 2em;
}