@import '../../../styles/mixins.scss';

.root {
  button {
    border: none;
		.ant-space {
			.ant-space-item {
				color: var(--theme-unknown-2);
			}
		}
  }

	.username {
	  display: none;

	  @include screen(desktop) {
		  display: inline;
			font-weight: 600;
			font-size: .8rem;
	  }
  }
}
