.root {
  display: grid;
  grid-template-columns: 1fr auto;
}

.mobileChat {
  display: block;
  top: 0px;
  width: 100%;
}

.leftCol {
  display: grid;
}
.lowerRow {
  position: relative;
  display: grid;
}

.pageContentSection {
  background-color: var(--theme-background-secondary);
  border-radius: var(--theme-rounded-corners);
  margin: 1vw;
  padding: 1vw;
  width: 100%;
}

@media (min-width: 768px) {
  .mobileChat {
    display: none;
  }
}
