.root {
  display: grid;
  grid-template-columns: 1fr auto;

  background-color: var(--theme-color-background-main);

  .topSection {
    padding: 0;
    background-color: var(--theme-color-components-video-background);
  }
  .lowerSection {
    padding: 0em 2em;
    margin-bottom: 2em;
  }
}

.leftCol {
  display: flex;
  flex-direction: column;
}

.loadingSpinner {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999999;
}

.mobile {
  &.root {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
    overflow: hidden;
    .topSection {
      display: grid;
      grid-template-rows: 30vh 5vh 5vh;
      height: 40vh;
    }
    .lowerSection {
      height: 60vh;
    }
  }
  .mobileChat {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
  }
}
