.noTabsActionMenuButton {
  position: absolute;
  right: 0px;
  margin-right: 10px;
  z-index: 999;
}

.noTabsAboutContent {
  position: relative;
  top: 0px;
}

.mobileTabs {
  margin-bottom: 0px;
}
