.chatHeader {
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  color: var(--text-color-secondary);
  border-bottom: 1px solid var(--color-owncast-gray-700);
  font-variant: small-caps;
}

.toBottomWrap {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 5px;
}
