@import '../../../styles/mixins.scss';

// The button that is displayed to scroll to the bottom of the chat.
.toBottomWrap {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 75px;
  color: var(--theme-color-components-text-on-light);

  button {
    background-color: var(--theme-color-background-light);
    z-index: 9999;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    opacity: 0;
    animation: show 250ms forwards ease-in-out 500ms;
    font-size: 12px;
    font-weight: 600;
  }
}

.chatContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-color-components-chat-background);
  height: 100%;
  font-size: var(--chat-message-text-size);
}
.virtuoso {
  width: auto;
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 5px;
}

.virtuoso::-webkit-scrollbar {
  display: none;
}

.virtuoso::-webkit-scrollbar-thumb {
  display: none;
}

.chatTextField {
  border-top: 1px solid lightgray;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
