@import 'styles/mixins.scss';

.chatModerationNotification {
  background-color: var(--theme-background-primary);
  color: var(--theme-color-components-chat-text);
  margin: 5px;
  padding: 10px 10px;
	font-size: var(--chat-message-text-size);
  @include flexCenter;

  .icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
}
