@import '../../../styles/mixins.scss';

.root {
  position: relative;
  display: flex;
  bottom: 0px;
  width: 100%;

  padding: 0.6em;
  overflow-x: hidden;
  background-color: var(--theme-color-components-chat-background);

  .inputWrap {
    position: relative;
    display: flex;
    color: var(--theme-color-components-form-field-text);
    background-color: var(--theme-color-palette-3);
    border-radius: var(--theme-rounded-corners);
    bottom: 0px;
    width: 100%;
    padding: 0.3rem;
    overflow-x: hidden;
    transition: box-shadow 90ms ease-in-out;
    &:focus-within {
      background-color: var(--theme-color-components-form-field-background);
      box-shadow: inset 0px 0px 2px 2px var(--theme-color-palette-3);
    }
  }

  .maxCharacters {
    border-style: solid;
    border-width: 1px;
    border-color: red;
  }

  div[role='textbox'] {
    font-size: 13px;
    font-weight: 400;
    padding: 0.3rem;
    background-color: inherit;
    border-color: var(--theme-color-components-form-field-border);
    box-shadow: 0;
    transition: box-shadow 50ms ease-in-out;
    &:focus {
      outline: 1px solid var(--theme-color-components-form-field-background) !important;
    }
    & > p {
      margin: 0px;
    }
  }
}

.emojiButton {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0 0.25rem;
}

.sendButton {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0 1rem;
}

.userMention {
  display: inline;
  font-size: 0.7rem;
  padding: 3px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 5px;
  color: var(--theme-color-components-form-field-text);
  border: 0.05rem solid var(--theme-color-components-form-field-border);
  background-color: var(--theme-color-components-form-field-background);
}

.autocompleteSelectMenu {
  width: 120px;
  right: '5px';
  bottom: '5px';
  z-index: 99999;

  :global {
    .ant-select-selection-item {
      display: none;
    }

    .ant-select-dropdown {
      display: block;
    }
  }
}
