.root {
  position: relative;
  bottom: 0px;
  width: 100%;
  padding: .3rem;
  color: var(--text-secondry);
  overflow-x: hidden;
  div[role=textbox] {
    font-size: 0.9rem;
    padding: .6rem;
    padding-right: calc(0.6rem + 44px);
    border-radius: .35rem;
    background-color: var(--color-owncast-gray-700);
    & > p {
      margin: 0px;
    }
  }
}

.inputWrapper {
  display: flex;
  position: relative;
  border-radius: var(--theme-rounded-corners);
  outline: 1px solid var(--color-owncast-gray-500);
  &:hover {
    box-shadow: 0 0 1px 1px var(--color-owncast-gray-300);
  }
  & > div {
    transition: box-shadow .2s ease-in-out;
    &:focus {
      // box-shadow: 0 0 1px 1px var(--color-owncast-gray-300);
    }
  }
}

.emojiButton {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0 1rem;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  svg {
    fill: var(--color-owncast-gray-300);
  }
}

.submitButtonWrapper {
  display: flex;
  padding: 6px 0;
  justify-content: flex-end;
}
