@import '../../../styles/mixins';

.container {
  display: grid;
  width: 100%;
  justify-items: center;
  height: var(--player-container-height);
  aspect-ratio: 16 / 9;

  .player,
  .poster {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
  }
}

.embedded {
  flex: 1 1 auto;
}
