@import '../../../styles/mixins.scss';

.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  padding: 0.7rem var(--content-padding);
  box-shadow: 0px 1px 3px 1px rgb(0 0 0 / 10%);
  background-color: var(--theme-color-background-header);

  h1 {
    margin-top: unset;
    margin-bottom: unset;
  }

  @include screen(mobile) {
    --header-height: 3.85rem;
  }
}

.logoImage {
  padding: 0.2rem;
  margin-right: 0.75rem;
  display: none;

  @include screen(desktop) {
    display: block;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.title {
  color: var(--theme-color-components-text-on-dark);
  font-family: var(--theme-text-display-font-family);
  margin-bottom: 0px;
  font-size: clamp(1rem, 4vw, 1.6rem);
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  // 6rem is an overapproximation of the width of
  // the user menu
  max-width: min(70vw, calc(100vw - 6rem));
  overflow: hidden;
  line-height: 1.4;
}

.skipLink {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skipLink:focus {
  position: static;
  width: auto;
  height: auto;
}

.offlineTag {
  cursor: default;
  color: var(--theme-color-components-text-on-light);
}

.avatar {
  background-color: var(--theme-color-background-header);
  box-sizing: content-box;
  border-color: #ffffff26;
  border-width: 2px;
  border-style: solid;
}

.chatOfflineText {
  color: var(--theme-color-palette-8);
  font-size: 0.75rem;
}
.toolTip {
  font-size: 0.8rem;
}
