.header {
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  padding: 0.5rem 1rem;
  background-color: var(--default-bg-color);
  .logo {
    display: flex;
    align-items: center;
    span {
      margin-left: 1rem;
      font-size: 1.7rem;
      font-weight: 600;
    }
  }
}
