.root {
  position: relative;
  display: grid;
  padding: 20px;
}

.row {
  margin-bottom: 7px;
}

.logoTitleSection {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
    .logo {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
}

.titleSection {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  .title {
    font-family: var(--theme-text-display-font-family);
    color: var(--theme-color-palette-0);
    font-size: 32px;
    font-weight: bold;
    line-height: 30px;
  }

  .subtitle {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.3;
    color: var(--theme-color-background-header);
  }
}

.tagList {
  color: var(--theme-color-palette-10);

  span {
    display: inline-block;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 500;
  }
}
