@import 'styles/mixins.scss';

.pageContentContainer {
  @include flexCenter;
}

.customPageContent {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  color: var(--theme-color-palette-0);
  background-color: var(--theme-color-palette-4);
  padding: calc(2 * var(--content-padding));
  border-radius: var(--theme-rounded-corners);
  width: clamp(300px, 80%, 900px);

  // Allow the content to fill the width on narrow screens.
  @media only screen and (max-width: 768px) {
    width: 100%;
  }

  hr {
    margin: 1.35em 0;
    border: 0;
    border-top: solid 1px var(--theme-text-secondary);
  }

  div.summary {
    font-size: 18px;
  }

  p {
    margin: unset;
  }
}
