@import 'styles/mixins.scss';

.pageContentContainer {
  @include flexCenter;
}

.customPageContent {
  font-size: 1.1rem;
  line-height: 1.6em;
  color: var(--theme-color-palette-0);
  padding: calc(2 * var(--content-padding));
  border-radius: var(--theme-rounded-corners);
  width: 100%;
  background-color: var(--theme-color-background-light);

  hr {
    margin: 1.35em 0;
    border: 0;
    border-top: solid 1px var(--theme-text-secondary);
  }

  div.summary {
    font-size: 1.1rem;
  }

  p {
    margin: unset;
  }
}
