.link {
  width: 30px;
}

.linkBackground {
  background-color: var(--theme-color-components-content-background);
  border-radius: 50%;
  padding: 8px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
}
