@use '../../../../styles/mixins' as *;

.followers {
  width: 100%;
  padding: 5px;
  margin: 0 auto;
  min-height: 20vh;

  .followerRow {
    display: grid;
    gap: 16px 0;
    grid-template-columns: repeat(auto-fill, minmax(min(280px, 100%), 1fr));
    grid-auto-rows: min-content;

    > * {
      min-width: 0;
    }
  }

  @include screen(mobile) {
    .followerRow {
      display: block;
      justify-content: center;
    }
  }
}

.noFollowers {
  padding: var(--content-padding);
  border-radius: var(--theme-rounded-corners);
  width: 100%;
}

.pagination {
  margin: 1rem;
}
