.followers {
  width: 100%;
  background-color: var(--theme-color-background-light);
  padding: 5px;
}

.noFollowers {
  padding: calc(2 * var(--content-padding));
  border-radius: var(--theme-rounded-corners);
  width: 100%;
  background-color: var(--theme-color-background-light);
}
