@import '../../../../../web/styles/mixins.scss';

.follower {
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px;
  border-style: solid;
  padding: 10px 10px;
  border-radius: 15px;
  height: 75px;
  width: 250px;
  font-size: 0.8rem;
  overflow: hidden;
  @include screen(mobile){
    margin: auto;
  }

  &:hover {
    border-color: var(--theme-text-link);
  }

  .avatar {
    height: 50px;
    width: 50px;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 1px;
    border-style: solid;
  }

  .account {
    color: var(--theme-text-secondary);
    text-overflow: ellipsis;
  }

  .placeholder {
    width: 100%;
    height: 100%;
  }
}
