.social-option .ant-select-item-option-content,
.social-option .ant-select-selection-item,
.social-dropdown .ant-select-item-option-content,
.social-dropdown .ant-select-selection-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25em;
  line-height: normal;
}
.social-option .ant-select-item-option-content .option-icon,
.social-option .ant-select-selection-item .option-icon,
.social-dropdown .ant-select-item-option-content .option-icon,
.social-dropdown .ant-select-selection-item .option-icon {
  height: 1.5em;
  width: 1.5em;
  line-height: normal;
}
.social-option .ant-select-item-option-content .option-label,
.social-option .ant-select-selection-item .option-label,
.social-dropdown .ant-select-item-option-content .option-label,
.social-dropdown .ant-select-selection-item .option-label {
  display: inline-block;
  margin-left: 1em;
  line-height: normal;
  word-break: break-word;
}
.social-links-edit-container .social-handles-table .social-handle-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.social-links-edit-container .social-handles-table .social-handle-cell .option-icon {
  height: 2em;
  width: 2em;
  line-height: normal;
}
.social-links-edit-container .social-handles-table .social-handle-cell .option-label {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 1em;
  line-height: 2;
  font-size: 0.85em;
  word-break: break-word;
}
.social-links-edit-container .social-handles-table .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 6em;
}
