.row {
  padding: 0.75rem;
  padding-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  button {
    margin-left: clamp(1px, 0.2vw, 0.3rem);
    margin-right: clamp(1px, 0.2vw, 0.3rem);
    &:last-of-type {
      margin-right: 0;
    }
  }
}
