import { Meta } from '@storybook/addon-docs/blocks';

<Meta title="owncast/Documentation/{{title}}" parameters=\{{previewTabs: { canvas: { hidden: true } }, chromatic: { disableSnapshot: true }}}/>

{{content}}
