import { Meta } from '@storybook/addon-docs/blocks';
import { Image, ImageRow } from './ImageAsset';

<Meta title="{{category}}" parameters=\{{chromatic: { disableSnapshot: true }}} />

# {{capitalize title}}

    <ImageRow images={[
    	{{#each images}}
    		{src: "{{this.src}}", name: "{{this.name}}"},
    	{{/each}}
    ]}/>
