import { Canvas, Meta, Story, IconItem, IconGallery } from '@storybook/addon-docs';

<Meta title="{{category}}" parameters=\{{previewTabs: { canvas: { hidden: true } }, chromatic: { disableSnapshot: true }}} />

# {{capitalize title}}

    	<IconGallery>
    		{{#each images}}
    			<IconItem name="{{this.name}}">
    				<img src="{{this.src}}" />
    			</IconItem>
    		{{/each}}
    	</IconGallery>
