.root {
  background-color: var(--theme-background-secondary);
  display: none;
}

@media (min-width: 768px) {
  .root {
    position: sticky;
    top: var(--header-h);
    display: flex;
    min-width: 300px !important;
    max-height: calc(100vh - var(--header-h));
  }
}
