@import '../../../styles/mixins.scss';

.root {
  background-color: var(--theme-color-components-chat-background);
  @include screen(desktop) {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 69px;
    z-index:100;
  }

  @media screen and (max-width: 1120px) and (min-width: 768px) {
    top: 65px;
  }
}

/*
First div is .ant-layout-sider-children
Only way to target it apparently
*/
.root > div {
  display: flex;
  flex-flow: column nowrap;
  -moz-box-flex: 1 !important;
  flex-grow: 1 !important;
  height: 100% !important;
  width: 100%!important;
}
