[Unit]
Description=owncast with socket activation for %I
PartOf=owncast@%i.target

[Socket]

FileDescriptorName=rtmp

Service=owncast@%i.service

[Install]
WantedBy=default.target
