/*
Specific styles for main app layout.
May have overrides for other components with own stylesheets.
*/

/* variables */
:root {
  --header-height: 3.5em;
  --right-col-width: 24em;
  --video-container-height: calc((9 / 16) * 100vw);
  --header-bg-color: rgba(20,0,40,1);
  --user-image-width: 10em;
}

html {
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#app-container * {
  transition: all .25s;
}

button[disabled] {
  opacity: .5;
  pointer-events: none;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}


header {
  height: var(--header-height);
  background-color: var(--header-bg-color);
}

#logo-container {
  background-size: 1.35em;
}

#chat-toggle {
  min-width: 3rem;
}


#user-info-change {
  display: none;
}


#stream-info span {
  font-size: .70rem;
}


/* ************************************************ */

#video-container {
  height: var(--video-container-height);
  margin-top: var(--header-height);
  position: relative;
  width: 100%;

  min-height: 480px;
  max-height: calc(100vh - var(--header-height) - 3rem);
  background-size: 30%;
}
#video-container #video {
  transition: opacity .5s;
  opacity: 0;
  pointer-events: none;
}
.online #video-container #video {
  opacity: 1;
  pointer-events: auto;
}

/* *********** overrides when chat is off ***************************** */


.no-chat footer {
  justify-content: center;
}

.no-chat #chat-toggle {
  opacity: .75;
}

.no-chat #chat-container-wrap {
  display: none;
}

/* *********** overrides when chat is on ***************************** */

.chat {
  --content-width: calc(100vw - var(--right-col-width));
}
.chat #chat-container-wrap {
  display: block;
}

.chat #video-container,
.chat #stream-info,
.chat #user-content {
  width: var(--content-width);
}

.chat #video-container {
  height: calc((9 / 16) * var(--content-width));
}



.short-wide.chat #video-container {
  height: calc(100vh - var(--header-height) - 3rem);
  min-height: auto;
}

.short-wide #message-input {
  height: 3rem;
}




/* *********** single col layout ***************************** */

.single-col {
  --right-col-width: 0px;
  --video-container-height: calc((9 / 16) * 100vw);
}
.single-col main {
  position: fixed;
  width: 100%;
  z-index: 40;
}
.single-col #chat-container {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 800px;
}
/* .single-col #video-container {
  min-height: auto;
  width: 100%;
} */

.single-col.chat #video-container,
.single-col.no-chat #video-container,
.single-col #video-container #video,
.single-col.chat #video-container #video {
  width: 100vw;
  height: var(--video-container-height);
  min-height: 212px;
}
.single-col #user-content,
.single-col #chat-container-wrap {
  margin-top: calc(var(--video-container-height) + var(--header-height) + 1rem);
}
.single-col #user-content .user-content {
  flex-wrap: wrap;
  justify-content: center;
}
.single-col.chat #user-content {
  display: none;
}
.single-col #message-input-container {
  width: 100%;
}

.single-col #message-input {
  height: 3rem;
}



/* ************************************************8 */


@media screen and (max-width: 860px) {
  :root {
    --right-col-width: 20em;
    --user-image-width: 6em;
  }
  #video-container {
    min-height: 240px;
  }
}

/* ************************************************8 */


@media screen and (max-width: 860px) {
  .instance-title {
    font-size: 1rem;
  }
}
