#chat-container {
  position: fixed;
  z-index: 9;
  top: var(--header-height);
  right: 0;
  width: var(--right-col-width);

  height: calc(100vh - var(--header-height));

  /* overflow: hidden; */
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
}

.touch-screen #chat-container {
  height: calc(100vh - var(--header-height) - 3vh);
}


.no-chat #chat-container-wrap {
  display: none;
}

.chat #chat-container-wrap {
  display: block;
}



#messages-container {
  /* overflow: auto;
  padding: 1em 0; */
}

#message-input-container {
  /* width: 100%; */
  /* padding: 1em; */
}

/******************************/
/******************************/
#message-input {
  /* height: 5rem; */
  /* font-size: .85em; */
}
#message-input img {
  display: inline;
  vertical-align: middle;
  padding: .25rem;
}

#message-input .emoji {
  width: 2.2rem;
  padding: .25rem;
}


/* If the div is empty then show the placeholder */
#message-input:empty:before{
  content: attr(placeholderText);
  pointer-events: none;
  display: block; /* For Firefox */
  color: rgba(0, 0, 0, 0.5);
}

/* When chat is enabled (contenteditable=true)  */
#message-input[contenteditable=true]:before {
  opacity: 1.0;
}


/* When chat is disabled (contenteditable=false) chat input div should appear disabled. */
#message-input:disabled,
#message-input[contenteditable=false] {
  opacity: 0.6;
}
/******************************/
/******************************/





/* #message-form {
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 0;
} */



#message-form-actions {
  /* flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%; */
}

#message-form-actions-buttons {
  /* flex-direction: row;
  justify-content: flex-end;
  align-items: center; */
}

/* Emoji picker button */
#emoji-button {
  /* font-size: 1.75em; */
  /* cursor: pointer;
  margin-right: .5em; */
}
.emoji-picker__emoji {
  border-radius: 10px;
}


.message {
  /* padding: .85em; */
  /* align-items: flex-start; */
}
.message-avatar {
  height: 3.0em;
  width: 3.0em;
  /* margin-right: .75em; */
}
.message-avatar img {
  max-width: unset;
  height: 3.0em;
  width: 3.0em;
  padding: 5px;
}

.message-content {
  /* font-size: .85em; */
  max-width: 85%;
  /* word-wrap: break-word; */
}




/* MESSAGE TEXT HTML */
/* MESSAGE TEXT HTML */
/* MESSAGE TEXT HTML */
.message-text a {
  color: #7F9CF5; /* indigo-400 */
}
.message-text a:hover {
  text-decoration: underline;
}

.message-text img {
  display: inline;
  padding-left: 0 .25rem;
}



.message-text .emoji {
  width: 3rem;
  padding: .25rem
}

.message-text code {
  font-family: monospace;
  background-color:darkslategrey;
  padding: .25rem;
}



.message-text .chat-embed {
  width: 100%;
  border-radius: .25rem;
}

.message-text .instagram-embed {
  height: 24rem;
}


.message-text .embedded-image {
  width: 100%;
  display: block;
  /* height: 15rem; */
}

.message-text .youtube-embed {
  width: 100%;
  height: 12rem;
}

.message-text .highlighted {
  /* color: orange;
  font-weight: 400;
} */
/* MESSAGE TEXT CONTENT */
/* MESSAGE TEXT CONTENT */
/* MESSAGE TEXT CONTENT */
/* MESSAGE TEXT CONTENT */









