/* variables */
:root {
  --header-height: 3.5em;
  --right-col-width: 24em;
  --video-container-height: 50vh;
  --header-bg-color: rgba(20,0,40,1);
  --user-image-width: 10em;
}

body {
  font-size: 14px;
}


a:hover {
  text-decoration: underline;
}
[v-cloak] { visibility: hidden; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}


.visually-hidden { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

#app-container {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  top: 0;
  left: 0;
  background-color: var(--header-bg-color);
  z-index: 10;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

header h1 {
  font-size: 1.25em;
  font-weight: 100;
  letter-spacing: 1.2;
  text-transform: uppercase;
  padding: .5em;
  white-space: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
#logo-container{
  height: 1.75em;
  width: 1.75em;
  min-height: 1.75em;
  min-width: 1.75em;
  margin-right: .5em;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.35em;
}
header .instance-title {
  overflow: hidden;
  text-overflow: ellipsis;
}
#chat-toggle {
  cursor: pointer;
  text-align: center;
  height: 100%;
  min-width: 3em;
  justify-content: center;
  align-items: center;
}

footer {
  flex-direction: row;
  justify-content: flex-start;
  font-size: .75em;
  padding: 2em;
  opacity: .5;
}
footer span {
  display: inline-block;
  margin: 0 1em;
}


/* ************************************************8 */

#stream-info {
  padding: .5em 2em;
  text-align: center;
  width: 100%;

  flex-direction: row;
  justify-content: space-between;
  
}
#stream-info span {
  font-size: .7em;
}
.user-content {
  padding: 2em;
}
/* #user-content {
  display: block;
}
#user-content-touch {
  display: none;
} */
/* ************************************************8 */


.user-content {
  padding: 3em;

  display: flex;
  flex-direction: row;
}
.user-content .user-image {
  padding: 1em;
  margin-right: 2em;
  min-width: var(--user-image-width);
  width: var(--user-image-width);
  height: var(--user-image-width);
  max-height: var(--user-image-width);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: calc(var(--user-image-width) - 1em);
}

/* .user-image img {
  display: inline-block;
  width: 100%;
  height: 100%;
} */
.stream-summary {
  margin: 1em 0;
}
.extra-user-content {
  padding: 1em 3em 3em 3em;
  }

h2 {
  font-size: 3em; 
}
.user-content-header {
  margin-bottom: 2em;
}

.tag-list {
  flex-direction: row;
  margin: 1em 0;
}
.tag-list li {
  font-size: .75em;
  text-transform: uppercase;
  margin-right: .75em;
  padding: .5em;
}


.social-list {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.social-list .follow-label {
  font-weight: bold;
  font-size: .75em;
  margin-right: .5em;
  text-transform: uppercase;
}

.user-social-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: -.25em;
}
.user-social-item .platform-icon {
  --icon-width: 40px;
  height: var(--icon-width);
  width: var(--icon-width);
  background-image: url(../img/social-icons.gif);
  background-repeat: no-repeat;
  background-position: calc(var(--imgCol) * var(--icon-width)) calc(var(--imgRow) * var(--icon-width));
  transform: scale(.65);
}

.user-social-item.use-default .platform-label {
  font-size: .7em;
  text-transform: uppercase;
  display: inline-block;
  max-width: 10em;
}

.extra-user-content ol {
  list-style: decimal;
}

.extra-user-content ul {
  list-style: unset;
}


/* ************************************************8 */

#user-options-container {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}

#user-info-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  padding: .5em 1em;
  overflow: hidden;
  width: 100%;
}

#username-avatar {
  height: 2.1em;
  width: 2.1em;
  margin-right: .5em;
}
#username-display {
  font-weight: 600;
  font-size: .75em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#user-info-display:hover {
  transition: opacity .2s;
  opacity: .75;
}


#user-info-change {
  display: none;
  justify-content: flex-end;
  align-items: center;
  padding: .25em;
}
#username-change-input {
  font-size: .75em;
}
#button-update-username {
  font-size: .65em;
  text-transform: uppercase;
  height: 2.5em;
}
#button-cancel-change {
  cursor: pointer;
  height: 2.5em;
  font-size: .65em;
}
.user-btn {
  margin: 0 .25em;
}

/* ************************************************8 */


#video-container {
  height: calc(var(--video-container-height));
  width: 100%;
  margin-top: var(--header-height);
  background-position: center center;
  background-repeat: no-repeat;
  
  background-size: 30%; 
}

.owncast-video-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.owncast-video-container .video-js {
  width: 100%;
  height: 100%;
  display: block;
}
.owncast-video-container video {
  width: 100%;
  display: block;
  min-height: 100%
}

.vjs-airplay .vjs-icon-placeholder::before {
  /* content: 'AP'; */
  content: url("../img/airplay.png");
}


#video {
  transition: opacity .5s;
  opacity: 0;
}
.online #video {
  opacity: 1;
}


/* ************************************************8 */


.no-chat #chat-container-wrap {
  display: none;
}
.no-chat footer {
  justify-content: center;
}

.chat #chat-container-wrap {
  display: block;
}

.chat #video-container,
.chat #stream-info,
.chat #user-content {
  width: calc(100% - var(--right-col-width));
}


#chat-container {
  position: fixed;
  z-index: 9;
  top: var(--header-height);
  right: 0;
  width: var(--right-col-width);

  height: calc(100vh - var(--header-height));

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


#messages-container {
  overflow: auto;
  padding: 1em 0;
  min-height: 50vh;
}
#message-input-container {
  width: 100%;
  padding: 1em;
}

#message-form {
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 0;
}
#message-body-form {
  font-size: 1em;
}
#message-body-form:disabled{
  opacity: .5;
}
#message-form-actions {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


/* ************************************************8 */

.message {
  padding: .85em;
  align-items: flex-start;
}
.message-avatar {
  height: 2.5em;
  width: 2.5em;
  margin-right: .75em;
}
.message-content {
  font-size: .85em;
}
.message-content a {
  color: #7F9CF5; /* indigo-400 */
}
.message-content a:hover {
  text-decoration: underline;
}


/* ************************************************8 */


.no-chat #chat-toggle {
  opacity: .75;
}

/* ************************************************8 */


@media screen and (max-width: 860px) {
  :root {
    --right-col-width: 20em;
    --user-image-width: 6em;
  }
  
  #chat-container {
    width: var(--right-col-width);
  }

}

@media screen and (max-width: 640px ) {
  :root {
    --right-col-width: 0;
  }
  #logo-container {
    display: none;
  }
  header h1 {
    max-width: 58%;
  }
  #user-options-container {
    max-width: 41%;
  }

  /* single col */
  #chat-container {
    width: 100%;
    position: relative;
    min-height: calc(100vh - var(--header-height));
  }
 
  #user-content {
    width: 100%;
  }
  #stream-info {
    width: 100%;
  }
  #video-container {
    width: 100%;
  }
  .chat #video-container {
    width: 100%;
  }
  .chat #user-content {
    display: none;
  }
  .chat footer {
    display: none;
  }

}
@media (min-height: 861px) {
  main {
    position: fixed;
    z-index: 9;
    width: 100%;
  }
  #user-content {
    margin-top: calc(var(--video-container-height) + var(--header-height) + 2em)
  }
}







@media screen and (max-height: 860px ) {
  #video-container {
    height: 52vw;
  }
  .user-content {
    flex-direction: column;
  }

  @media screen and (max-height: 640px ) {
    #video-container {
      height: 75vh;
    }
  }

}

