/* variables */
:root {
  --header-height: 3em;
  --right-col-width: 24em;
  --video-container-height: 50vh;
  --header-bg-color: rgba(20,0,40,1);
  --vh: 1vh;
}

body {
  font-size: 14px;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#app-container {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  top: 0;
  left: 0;
  background-color: var(--header-bg-color);
  z-index: 10;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

header h1 {
  font-size: 1.25em;
  font-weight: 100;
  letter-spacing: 1.2;
  text-transform: uppercase;
  padding: .5em;
  white-space: nowrap;
  width: 20em;
}

#chat-toggle {
  cursor: pointer;
  text-align: center;
  height: 100%;
  min-width: 3em;
  justify-content: center;
  align-items: center;
}

/* ************************************************8 */

#user-options-container {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}

#user-info-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  padding: .5em 1em;
  overflow: hidden;
  width: 100%;
}

#username-avatar {
  height: 1.75em;
  width: 1.75em;
  margin-right: .5em;
}
#username-display {
  font-weight: 600;
  font-size: .75em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#user-info-display:hover {
  transition: opacity .2s;
  opacity: .75;
}


#user-info-change {
  display: none;
  justify-content: flex-end;
  align-items: center;
  padding: .25em;
}
#username-change-input {
  font-size: .75em;
}
#button-update-username {
  font-size: .65em;
  text-transform: uppercase;
  height: 2.5em;
}
#button-cancel-change {
  cursor: pointer;
  height: 2.5em;
  font-size: .65em;
}
.user-btn {
  margin: 0 .25em;
}

/* ************************************************8 */

#main-content-container {
  width: 100%;
  flex-direction: row;
  position: relative;
  margin-top: var(--header-height);
}

.main-cols {
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.left-col {
  width: calc(100vw - var(--right-col-width));
}

/* ************************************************8 */

.owncast-video-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: calc(100vh - 8em); /* Fallback for browsers that do not support Custom Properties */
  height: calc((var(--vh, 1vh) * 100) - var(--header-height) - 5em);

}
.owncast-video-container .video-js {
  width: 100%;
  height: 100%;
  display: block;
}
.owncast-video-container video {
  width: 100%;
  display: block;
  min-height: 100%
}

.video-js .vjs-big-play-button {
  left: 50%;
  top: 50%;
  margin-left: -1.5em;
  margin-top: -0.75em;
}
/* ************************************************8 */

#stream-info {
  padding: .5em 2em;
  text-align: center;
  font-size: .7em;

  flex-direction: row;
  justify-content: space-between;
  
}

#user-content {
  padding: 2em;
}

/* ************************************************8 */


#xchat-container {
  position: fixed;
  z-index: 9;
  right: 0;
  height: 100%;
  width: var(--right-col-width);

  height: calc(100vh - 3em); /* Fallback for browsers that do not support Custom Properties */
  height: calc((var(--vh, 1vh) * 100) - var(--header-height));

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#messages-container {
  overflow: auto;
  padding: 1em 0;
}
#message-input-container {
  width: 100%;
  padding: 1em;
}

#message-form {
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 0;
}
#message-body-form {
  font-size: 1em;
}
#message-form-actions {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


/* ************************************************8 */

.message {
  padding: .85em;
  align-items: flex-start;
}
.message-avatar {
  height: 2.5em;
  width: 2.5em;
  margin-right: .75em;
}
.message-content {
  font-size: .85em;
}
.message-content a {
  color: #7F9CF5; /* indigo-400 */
}
.message-content a:hover {
  text-decoration: underline;
}


/* ************************************************8 */
/* 
.no-chat .left-col {
  width: 100vw;
}
.no-chat .right-col {
  display: none;
} */

.no-chat #chat-toggle {
  opacity: .75;
}

/* ************************************************8 */

.landscape #chat-toggle {
  display: none;
}

/* ************************************************8 */

@media screen and (max-width: 860px) {
  :root {
    --right-col-width: 20em;
  }
  
  #xchat-container {
    width: var(--right-col-width);
  }
  .left-col {
    width: calc(100vw -  var(--right-col-width));
  }
}

/* ************************************************8 */

/* 
@media screen and (max-width: 640px ) {
  #main-content-container {
    flex-direction: column;
    justify-content: space-between;
    height: calc((var(--vh, 1vh) * 100) - var(--header-height));
  }

  .main-cols {
    width: 100vw;
  }
  .left-col {
    flex-direction: column;
    justify-content: stretch;
    z-index: 100;
    height: 55%;
    min-height: 300px;
  }
  .right-col {
    overflow: hidden;
    height: 45%;
  }

  #user-info {
    width: 9em;    
  }
  #user-content {
    display: none;
  }
  #xchat-container {
    width: 100%;
    height: 100%;
    position: relative;
    height: auto;
  }

  .owncast-video-container {
    height: 100%;
  }
  .no-chat  .left-col {
    height: 100%;
  }
  .no-chat .owncast-video-container {
    min-height: 50vh;
  }
  .no-chat  .right-col {
    display: none;
  }
  .no-chat #xstream-info {
    display: flex;
  }
  .no-chat   #user-content {
    display: block;
  }
} */

/* 
.message-input-focus  #main-content-container {
  flex-direction: column;
  justify-content: space-between;
  height: calc((var(--vh, 1vh) * 100) - var(--header-height));

}

.message-input-focus .main-cols {
  width: 100vw;
}
.message-input-focus .left-col {
  flex-direction: column;
  justify-content: stretch;
  z-index: 100;
}
.message-input-focus .right-col {
  overflow: hidden;
}

.message-input-focus  #user-info {
  width: 9em;    
}
.message-input-focus  #user-content {
  display: none;
}
.message-input-focus  #chat-container {
  width: 100%;
  height: 100%;
  position: relative;
  height: auto;
  z-index: 999;
}

.message-input-focus  .owncast-video-container {
  height: 40vh;
  height: calc((var(--vh, 1vh) * 40));
  min-height: 300px;
} */


/* ************************************************8 */
/* ************************************************8 */

.touch-screen header {
  position: relative;
}
.touch-screen #fixed-content {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.touch-screen #main-content-container {
  display: none;
}

.touch-screen #stream-info {
  height: 2.5em;
  overflow: hidden;
}

#main-mobile-container {
  flex-direction: column;
  margin-top: calc(var(--header-height) + var(--video-container-height));
}
.touch-screen #video-container {
  height: var(--video-container-height);
}
.touch-screen .owncast-video-container {
  height: 100%;
}

.touch-screen #user-content {
  display: none;
}
.touch-screen #chat-container {
  display: block;
}
.touch-screen.no-chat #user-content {
  display: block;
}
.touch-screen.no-chat #chat-container {
  display: none;
}

@media screen and (max-width: 640px ) {
  :root {
    --video-container-height: 36vh;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  :root {
    --video-container-height: 65vh;
  }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
  :root {
    --video-container-height: 75vh;
  }
  #main-mobile-container {
    margin-top: calc(var(--header-height) + var(--video-container-height));
  }
  .touch-screen #user-content {
    display: block;
  }
  .touch-screen #chat-container {
    display: none;
  }
  .touch-screen #chat-toggle {
    display: none;
  }
}
