/* variables */
:root {
  --header-height: 3em;
  --right-col-width: 24em;

  --chat-bg-color: rgba(11,0,33,.95);
  --header-bg-color: rgba(20,0,40,1);
}


body {
  font-size: 14px;
  background-color: #666;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#app-container {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;

  color: white;
}

header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  top: 0;
  left: 0;
  background-color: var(--header-bg-color);
  z-index: 10;
}

header h1 {
  font-size: 1.25em;
  font-weight: bold;
  color: #ddd;
  padding: .5em;
}


#main-content-container {
  width: 100%;
  flex-direction: row;
  position: relative;
  margin-top: var(--header-height);
}

.main-cols {
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.left-col {
  width: calc(100vw - var(--right-col-width));
}

#video-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#video-container video {
  width: 100%;
  display: block;
}

#chat-container {
  position: fixed;
  z-index: 9;
  right: 0;
  height: 100%;
  width: var(--right-col-width);
  background-color: var(--chat-bg-color);
  height: calc(100vh - var(--header-height));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#messages-container {
  overflow: auto;
  padding: 1em 0;
}
#chat-input-container {
  width: 100%;
  border-top: 1px solid #eee;
  padding: 1em;
  background-color: #334;
}

#chat-form {
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 0;
}

.message {
  padding: .85em;
  align-items: flex-start;
}
.message-avatar {
  height: 2.5em;
  width: 2.5em;
  margin-right: .75em;
  /* background-color: rgba(236, 236, 236, .5); */
  background-color: rgba(0,0,0, .75);
}
.message-content {
  font-size: .85em;
}
.message-author {
  font-weight: 600;
}
.message-text {
  color: #ccc;
  font-weight: 100;
}


.no-chat .left-col {
  width: 100vw;
}
.no-chat .right-col {
  display: none;
}

@media screen and (max-width: 860px) {
  :root {
    --right-col-width: 20em;
  }
  
  #chat-container {
    width: var(--right-col-width);
  }
  .left-col {
    width: calc(100vw -  var(--right-col-width));
  }
}

@media screen and (max-width: 640px ) and (orientation: portrait) {
  #main-content-container {
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - var(--header-height));
  }

  .main-cols {
    width: 100vw;
  }
  .left-col {
    flex-direction: column;
    justify-content: stretch;
  }
  .right-col {
    overflow: hidden;
  }

  
  #info {
    display: none;
    overflow: auto;
    height: auto;
  }

  #chat-container {
    width: 100%;
    height: 100%;
    position: relative;
    height: auto;
  }

  .no-chat  .left-col {
    height: 100%;
  }
  .no-chat  .right-col {
    display: none;
  }
  .no-chat #info {
    display: block;
  }

}