/*
The styles in this file mostly ovveride those coming from chat.css

*/


#messages-container.messages-only {

  /* modify this px number if you want things to be relatively bigger or smaller 8*/
  font-size: 16px;

  padding: 1em .5em;
  background-color: rgba(0,0,0,.4);
}
.messages-only .message-content {
  text-shadow: 1px 1px 0px rgba(0,0,0,0.25);
}
.message-avatar {
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
}
.messages-only .message {
  padding: .5em;
}

.messages-only .message-text {
  font-weight: 400;
  color: white;
}
.messages-only .message-text a {
  color: #fc0;
}
.messages-only .message-author {
  color: rgba(20,0,40,1);
}
