.item {
  display: flex;
  align-items: center;
}

.buttonWrap {
  display: flex;
  align-items: center;
  height: 100%;

  button {
    height: 100%;
  }
}

.icon {
  height: 15px;
  margin-right: 5px;
}

.menu {
  color: currentcolor;
}

.menuButton {
  border-color: var(--theme-color-components-content-background);
}
