.item {
  display: flex;
  align-items: center;
}

.buttonWrap {
  display: flex;
  align-items: center;
  height: 100%;
  button {
    color: currentColor;
  }
}

.icon {
  height: 15px;
  margin-right: 5px;
}

.menu {
  color: currentColor;
  // border: none;
  // background-color: transparent;
  // margin: 8px;
}
