.canvas {
  container-type: inline-size;
  container-name: wrapper;
}

.content {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:
    linear-gradient(to bottom, rgb(18 22 29 / 0%) 0%, rgb(18 22 29 / 75%) 100%),
    radial-gradient(circle, rgb(18 22 29 / 0%) 0%, rgb(18 22 29 / 50%) 100%),
    linear-gradient(to bottom, var(--theme-color-action) 0%, #2386e2 100%),
    linear-gradient(rgb(240 243 248), rgb(240 243 248)), linear-gradient(#f0f3f8, #f0f3f8);
  color: white;
  padding: 1em;

  // Base font size
  font-size: 1rem;
}

.header {
  display: flex;
  width: 95%;
  justify-content: center;
  gap: 0.5em;

  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    color: inherit;
    text-decoration: none;
    outline: none;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 200px;
    background-color: rgb(255 255 255 / 100%);
    border: 2px solid rgb(18 22 29 / 100%);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: 0.5em;

  &:has(> *:only-child) {
    justify-content: center;
  }

  .message {
    margin: 0 1em;
  }

  button {
    border: none;
    border-radius: 0.5em;
    padding: 0 2em;
    font-size: 0.4em;
    background: var(--theme-color-action);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: var(--theme-color-action-hover);
    }

    * + & {
      margin-top: 2em;
    }
  }
}

.text {
  font-family: var(--theme-text-display-font-family);

  // Enforce rule for <Title /> components
  color: var(--text-color) !important;
}

.title .text {
  font-size: 1em;
}

.body .text {
  font-size: 0.6em;
}

.body .message .text {
  font-size: 0.5em;
  text-align: center;
}

// Hide message if we are not on the stream's web page
@container wrapper (max-width: 480px) {
  .message {
    display: none;
  }
}

// iPhone 6 (portrait)
@container wrapper (min-width: 315px) {
  .content {
    font-size: 1rem;
    padding: 2em;
  }
}

// iPhone 5 (landscape)
@container wrapper (min-width: 430px) {
  .content {
    font-size: 1.5rem;
    padding: 2em;
  }
}

// iPhone 6, 6 Plus, 8 Plus (landscape)
@container wrapper (min-width: 637px) {
  .content {
    font-size: 1.8rem;
    padding: 2em;
  }
}

// iPad (landscape) and larger
@container wrapper (min-width: 850px) {
  .content {
    font-size: 2.5rem;
    padding: 2em;
  }
}

// iPad 10.5 (landscape)
@container wrapper (min-width: 1000px) {
  .header {
    // Reduce the oversized gap between the logo and the title
    width: 85%;
  }

  .content {
    font-size: 2.5rem;
    padding: 3em 2em;
  }
}

// Wider than iPad 11 (landscape)
@container wrapper (min-width: 1300px) {
  .content {
    font-size: 3rem;
    padding: 3em 2em;
  }
}
