.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.content {
  display: block;
  height: 100%;
  padding: 2vw;
  background-color: var(--theme-color-components-modal-content-background);
  color: var(--theme-color-components-modal-content-text);
}
