@import '../../../styles/mixins.scss';

.layout {
  // this margin is for fixed header
  margin-top: 55px;
  background-color: var(--theme-color-main-background);
  @include screen(tablet) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // this one is for fixed footer
    margin-bottom: 30px;
  }

  @include screen(mobile) {
    margin-bottom: 0px;

    footer {
      display: none;
    }
  }
}
