@import '../../../styles/mixins.scss';

.layout {
  // this margin is for fixed header
  padding-top: var(--header-height);
  background-color: var(--theme-color-main-background);
  min-height: 100vh;

  position: relative;

  // add some spacing between the last row of content and the footer
  .footerContainer {
    margin-top: 5em;
  }
}
