.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;

  svg {
    width: clamp(2.5rem, 8vw, 50px);
    height: clamp(2.5rem, 8vw, 50px);
  }
}

.contrast {
  padding: 5px;
  border-radius: 50%;

  svg {
    width: clamp(2rem, 7vw, 40px);
    height: clamp(2rem, 7vw, 40px);
  }
}

.simple {
  background-color: transparent;

  svg {
    width: clamp(2.5rem, 8vw, 50px);
    height: clamp(2.5rem, 8vw, 50px);
  }
}
