@import 'styles/mixins.scss';

.chatSystemMessage {
  background-color: var(--theme-unknown-2);
  margin: 5px;
  border-radius: 15px;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px;
  border-style: solid;
  padding: 10px 10px;
  max-width: 400px;
  @include flexCenter;
}
