name: Format+Lint Javascript

# This action works with pull requests and pushes
on:
  push:
    paths:
      - web/**
  pull_request_target:
    paths:
      - web/**

jobs:
  prettier:
    name: Run prettier
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web

    concurrency:
      group: ${{ github.head_ref || github.run_id }}
      cancel-in-progress: true

    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0

      - name: Prettify code
        uses: creyD/prettier_action@v4.2
        with:
          # This part is also where you can pass other options, for example:
          prettier_options: --write **/*.{js,ts,jsx,tsx,css,md}
          only_changed: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  linter:
    name: Run linter on changed files
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0
          pull: --rebase --autostash

      - name: Install Dependencies
        run: npm install

      - name: Lint
        run: npm run lint
